@{
    ViewData["Title"] = "Gestion";
}
@model List<ProyectoWeb.Models.MdUsuarios>

    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <h2>Lista Empleados</h2>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="visually-hidden">Id Usuario</th>
                    <th>Nombre</th>
                    <th>fecha Nacimiento</th>
                    <th>Sexo</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model)
                    {
                     <tr>
                        <td class="visually-hidden">@item.idUsuario</td>
                        <td>@item.nombre</td>
                        <td>@item.fecha</td>
                        <td>@item.sexo</td>
                        <td>
                            <a asp-controller="Usuarios" asp-action="Editar" asp-route-id="@item.idUsuario" class="btn-secondary">Editar</a>
                            <a asp-controller="Usuarios" asp-action="Eliminar" asp-route-id="@item.idUsuario" class="btn-danger">Eliminar</a>
                        </td>

                     </tr>
                    }
            </tbody>
            </table>
        </div>
    </div>
